@import 'variables';

header {
  margin-top: 17px;
  margin-left: 30px;
  margin-bottom: 16px;
  width: 56px;
  height: 50px;
  p {
    position: absolute;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px; 
  }
}
    hr {
    border-width: 1px 0px 0px 0px; /* 太さ1px */
     border-style: solid; /* 線種を破線に */
     border-color: gray;   /* 線色を灰色に */
     height: 0px;    /* 高さ */
    }